* {
    /*Reset css padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*Configurações iniciais*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #d1baaa;
    background: linear-gradient(to bottom, #d1baaa, #cb6ce6, #771acd);
    font-size: 16px;
}

header .fundodecabeçalho {
    /*Costumização do primeiro cabeçalho*/
    width: 100%;
    height: 695px;

    /*Ajustes de posição e costumização de background*/
    background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.242)), url(/src/css/images/backgroundhome.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    z-index: 1;

    /*Carrousel*/
    animation: carrousel-background 60s infinite ease-in-out;

    /*Alinhamento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Cores de fonte*/
    color: #edcfba;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);

    & img {
        /*Ajustes de logo*/
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 210px;
    }

    .title {

        /*Ajuste de título*/
        & h1 {
            font-size: 150px;
            font-weight: normal;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & h2 {
            /*Ajustes de subtítulo*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/*Seta animada*/
.setaanimada .icon{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Seção de busca*/
.inicio .hub{
    & h1{
        width: 200px;
        height: 170px;
        font-size: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-left: 50px;
    }
}

/*Animação simples do background*/
@keyframes carrousel-background {

    /*Key frames*/
    0% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome.jpg);
    }

    25% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome.jpg);
    }

    26% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome2.jpg);
    }

    50% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome2.jpg);
    }

    51% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome3.jpg);
    }

    75% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome3.jpg);
    }

    76% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome4.jpg)
    }

    100% {
        background-image: linear-gradient(rgba(209, 186, 170, 0.681), rgba(0, 0, 0, 0.262)), url(/src/css/images/backgroundhome4.jpg)
    }
}